.pageBody{
    background-size: cover;
    background-attachment: fixed;
    background-color: #0A131A;
}
.linkButton{
    background-color: rgba(256, 256, 256, 0.1);
    font-size:1em;
    border-radius:10%;
}
.post{
    background-color: darkcyan;
    background-attachment: fixed;
    border: 7px darkcyan solid;
}
.photo{
    background-color: darkcyan;
    background-image: url("../img/graphics/blueUnsplash-min.jpg");
    background-attachment: fixed;
    border: 7px darkcyan solid;
	align-content: center;
	text-align: center;
}
.photoSub{
	padding-top: 1em;
}
.postButton{
    font-size:.9em;
    border-radius:10%;
}
.break{
	padding: 1em;
}
.imgContainer{
	width:50%; 
	margin-left: auto; 
	margin-right: auto;
}
.shade{
	text-shadow: 2px 2px black;
}
.card-content{
	background-image: url("../img/graphics/whiteUnsplash.png");
    background-attachment: fixed;
	color: white;
	text-shadow: 1px 1px black;
}
.gallery-box{
    padding-left: 5%;
    padding-right: 5%;
}
#homePage{
	background-color: #0a131a;
}
#photoPage{
	background-image: url("../img/graphics/greenUnsplash.png");
}
#top-nav{
	background-image: url("../img/graphics/pinkUnsplash.png");
    padding: 2%;
}
#nav-name{
	color: white !important;
    font-size: 3rem;
}
#meow{
    background-color: darkcyan;
    background-image: url("../img/graphics/pinkUnsplash.png");
    background-attachment: fixed;
	background-position: bottom;
    border: 7px darkcyan solid;
}
#photography{
    background-color: darkcyan;
    background-image: url("../img/graphics/greenUnsplash.png");
    background-attachment: fixed;
	background-position: bottom;
    border: 7px darkcyan solid;
}
#name{
    font-size: 2.5em !important;
}
#linkButton:hover{
    color: cyan;
    border-color: darkcyan;
}
#lineBreak{
    margin-top:-2%;
    background-color: #6f287b;
}
#lineBreak:hover{
    background-color: white;
}
#downArrow{
    font-size:2em;
}
#downArrow:hover{
    color: darkcyan;
}
#posts{
    padding-bottom:5%;
}
#photos{
    padding-bottom:5%;
}
html,body{
    overflow-x: hidden;
}