.navbar-item{
    font-size: 1em;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url("abstractUnsplash.jpg");
    color: transparent;
}
.post{
    padding-top: 2%;
	padding-bottom: 3%;
}
.image{
}
.imagePost{
    background-image: url("pinkPexels.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-color: #0A131A;
}
.title{
	font-family: "DM Serif Display";
}
.subtitle{
	font-family: Prata;
}
#nav{
    background-color: white;
}
#body{
    background-size: cover;
    background-attachment: fixed;
    background-color: #0A131A;
}
#name{
    font-size: 2.5em;
    -webkit-background-clip: text;
    background-clip: text;
    background-image: url("pinkUnsplash.jpg");
    color: transparent;
	font-family: "Cormorant SC";
}
#navspace{
    visibility: hidden;
}
